train:
  get_mix:
    _target_: src.transforms.Mix
    min_snr_in_db: -5
    max_snr_in_db: 5
    shuffle_batch: true

  audio_s1:
    _target_: torch.nn.Sequential
    _args_:
      - _target_: torch_audiomentations.Shift
        min_shift: -0.15
        max_shift: 0.15
        rollover: True
        sample_rate: 16000
        output_type: tensor
        p: 0.3
      - _target_: torch_audiomentations.Gain
        min_gain_in_db: -4
        max_gain_in_db: 4
        sample_rate: 16000
        output_type: tensor
        p: 0.5
      - _target_: torch_audiomentations.PitchShift
        min_transpose_semitones: -3.0
        max_transpose_semitones: 3.0
        sample_rate: 16000
        output_type: tensor
        p: 0.3
      - _target_: torch_audiomentations.AddColoredNoise
        min_snr_in_db: 20
        max_snr_in_db: 35
        sample_rate: 16000
        output_type: tensor
        p: 0.3
      - _target_: torch_audiomentations.PeakNormalization
        apply_to: only_too_loud_sounds
        sample_rate: 16000
        output_type: tensor
        p: 1.0
  
  audio_s2: ${transforms.batch_transforms.train.audio_s1}

  audio_mix:
    _target_: torch_audiomentations.PeakNormalization
    apply_to: only_too_loud_sounds
    sample_rate: 16000
    output_type: tensor
    p: 1.0

inference: null